* {
  background-color: rgb(188, 195, 99);
  padding: 0px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.titreg {
  border: none;
  background-color: rgb(113, 111, 4);
  color: rgb(192, 189, 39);
  border-radius: 15px;
  font-size: 35px;
  transition: 0.5s;
  padding: 4px;
}
.titreg:hover {
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

body {
  height: 100vh;
  cursor: default;
  background-color: rgb(188, 195, 99);
}

.home {
  color: rgb(80, 79, 3);
  font-family: 'Segoe UI', Arial, Geneva, Verdana, sans-serif;
  font-size: 35px;
  margin: 0px;
  cursor: default;
  padding: 7px;
}

.list {
  list-style: none;
}

.comments {
  border-radius: 6px;
  border: none;
  color: rgb(82, 81, 4);
  background-color: rgb(139, 137, 15);
  transition: 0.5s;
  font-weight: bold;
  cursor: pointer;
  padding: 7px;
}

nav {
  margin: -10px;
  padding: 0px;
}

#one {
  border: none;
  transition: 0,8s;
  cursor: pointer;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#two {
  border: none;
  transition: 0,8s;
  cursor: pointer;
  font-size: 20px;
}

#three {
  border: none;
  transition: 0,8s;
  cursor: pointer;
  font-size: 20px;
}

.download1 {
  background-color: cyan;
  border-radius: 8px;
  cursor: pointer;
  padding: 7px;
  text-decoration: none;
  background-color: rgb(80, 79, 3);
}

.download2 {
  background-color: rgb(80, 79, 3);
  border-radius: 8px;
  cursor: pointer;
  padding: 7px;
  text-decoration: none;
}

.sendcomments {
  color: rgb(192, 189, 39);
  border: none;
  border-radius: 8px;
  background-color: rgb(113, 111, 4);
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.sendcomments:hover {
  background-color: black;
  padding: 12px;
  font-weight: 800;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: rgb(188, 195, 99);
  margin: 0%;
}

main {
  margin-top: 170px;
}

.section1 {
  scroll-margin-top: 200px;
}

html {
  scroll-behavior: smooth;
}

section:target {
  animation: highlight 10s ease;
}
@keyframes highlight { 
  0% { background-color: rgb(255, 13, 0); }
  50% { background-color: transparent; }
  100% { background-color: inherit; }
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: rgb(80, 79, 3);
}
button a {
  background-color: rgb(139, 137, 15);
}

.logo {
  height: 60px;
  width: 60px;
}